body {
  background-color: #9099a2;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.bio-card {
  width: 50%;
  /* background-color: #96858f; */
  background-color: #6d7993;
  margin: 20px;
}

.bio-card img {
  max-width: 100%;
}

.bio-card h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.bio-card p {
  margin-top: 3px;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  background-color: #d5d5d5;
}

footer p {
  margin: 0;
}

/* Color Pallette */

/*
Dusty #96858F
Lavendar #6D7993
Overcast #9099A2
Paper     #D5D5D5
*/
